@model ProjectModel;
@{
    DateTime currentTime = DateTime.Now;
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Update Project</h2>
            <form method="post" action="/Project/Update">
                <input type="hidden" name="Id" value="@Model.Id">
                <div class="form-group">
                    <label asp-for="@Model.Name">Name</label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" id="author" name="Author" value="@Model.Author" readonly>
                </div>

                <input type="hidden" class="form-control" id="time" name="Time" value="@currentTime">

                <button type="submit" class="btn btn-primary mt-3">Update</button>
            </form>
        </div>
    </div>
</div>