@{
	List<ProjectModel> projects = ViewBag.projects;
	var user = ViewBag.user;
	int i = 0;
}
@model List<IssueModel>;

<h1 class="mb-3">MY ISSUES</h1>
<div class="container">
	<div class="row">
		<div class="col-md-4 ">
			<div class="text-start">
				<a href="/Issue/Add" class="btn btn-success">Create Issue</a>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Orta bölüm -->
		</div>
		<div class="col-md-4">
			<div class="text-end">
				<a href="/Issue/MyIssues" class="btn btn-primary">My Issues</a>
				<a href="/Issue/AllIssues" class="btn btn-primary">All Issues</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Auther</th>
						<th scope="col">Time</th>
						<th scope="col">Assigned Project</th>
						<th scope="col">Assigned Person</th>
						<th scope="col">Detail</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				@foreach (var issue in Model)
				{
					var assignedProjectToIssue = projects.FirstOrDefault(p => p.Id == issue.ProjectModelId);

					<tbody>
						<tr>
							<th scope="row">@(i = i + 1)</th>
							<td>@issue.Name</td>
							<td>@issue.Author</td>
							<td>@issue.Time.ToString("dd/MM/yyyy")</td>
							<td>@assignedProjectToIssue.Name</td>
							<td>@issue.Assign</td>
							<td>
								<a href="/Issue/Detail/@issue.Id" class="btn btn-warning">Detail</a>
							</td>
							<td>
								<a href="/Issue/Delete/@issue.Id" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					</tbody>
				}
			</table>
		</div>

	</div>
</div>
